<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
    <script>
        async function fetchResponse() {
            try{
                const loadDiv = document.getElementById('loadingDiv');
                loadDiv.style.display = 'block';
                const form = document.getElementById('form-query');
                const formData = new FormData(form);
                const response = await fetch('{% url "fetch_response" %}', {
                    method:'POST',
                    body: formData,
                });
                const data = await response.json();
                if(!response.ok){
                    data = 'Failed to fetch reponse. Please retry.';
                    const table = document.getElementById('data-table');
                    const queryRow = table.insertRow();
                    queryRow.id = 'chat-bubble';
                    const query_cell = queryRow.insertCell(0);
                    query_cell.innerHTML = data; 
                }else{
                    const table = document.getElementById('data-table');
                    const queryRow = table.insertRow();
                    queryRow.id = 'chat-bubble';
                    const query_cell = queryRow.insertCell(0);
                    query_cell.innerHTML = data.question_text;
                    const responseRow = table.insertRow();
                    responseRow.id = 'bot-bubble';
                    const response_cell = responseRow.insertCell(0);
                    response_cell.innerHTML = data.query_response;   
                }                
                loadDiv.style.display = 'none';
                //vconsole.log(jsData);
                form.reset();
                location.reload();
            }catch(error){
                console.error('There was a error with fetching the response : ', error);
                return '';
            }
        }

        window.onload = function(){
            const loadDiv = document.getElementById('loadingDiv');
            loadDiv.style.display = 'none';
            const form = document.getElementById('form-query');
            form.addEventListener('submit', function(event){
                event.preventDefault();
                fetchResponse();
            })
            const fetchBtn = document.getElementById('query-box');
            fetchBtn.addEventListener('keydown', function(event){
                if(event.key == 'Enter'){
                    event.preventDefault();
                    form.submit();
                }
            })
        }
    </script>
    <title>Chat Bot</title>
</head>
<body>
    <div class="chatbox">
        <table class="chat-container">
            <tbody id="data-table">
                {% for item in data %}
                    <tr class="chat-bubble">
                        <td>{{ item.question_text }}</td>
                    </tr>
                    <tr class="bot-bubble">
                        <td>{{item.query_response}}</td>
                    </tr>
                {% endfor %}
                {% if queries %}
                    {% for message in queries %}
                    <tr class="chat-bubble">
                        <td>{{ message.question_text }}</td>
                    </tr>
                    <tr class="bot-bubble">
                        <td>{{ message.query_response }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <div id="loadingDiv" class="loading-container">
            <div class="loading"></div>
            <div class="loading-text">Generating response...</div>
        </div>
        <h1>Ask away</h1>
        <form method="post" id="form-query">
            {% csrf_token %}
            <div class="queryBox">
                <input class="chat-input" name="query" id="query-box" required>
                <button class="send-button"name="btnAsk" id="queryBtn" type="submit">Ask</button>
            </div>
        </form><br/>
    </div>
</body>
</html>