<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-up</title>
</head>
<body>
    <h1>Create an account</h1>
    </br>
    <div>
        Enter your account details below or <a href="login.html">log in</a>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="signup">
            Username</br>
            <textarea name="username" enterkeyhint="Enter your username"/></br>
            Password</br>
            <input name="password" type="password"></br>
            <button name="signin">Sign In</button>
        </div>
    </form>
</body>
</html>